#singaporeMap {
    height:100vh;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    display: flex;
    top:10px;
    left: 50px;
    padding: 5px;
    z-index: 500;
}


.buttons-container {
    display: flex;
    flex-direction: column;
    width: 60px;
    position: absolute;
    top: 100px;
    z-index: 500;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
  }

.leaflet-popup-content-wrapper {
    background-color: whitesmoke;
    color:black
}

.leaflet-popup-tip {
    background-color: white;
}

.mrt-popup .leaflet-popup-content-wrapper {
    background-color: #ff5555 !important; 
    color: white !important;
}

.mrt-popup .leaflet-popup-tip {
    background-color: #ff5555 !important; 
}

.busStop-popup .leaflet-popup-content-wrapper {
    background-color: #2f6831 !important; 
    color: white !important;
}

.busStop-popup .leaflet-popup-tip {
    background-color: #2f6831 !important; 
}

.shoppingMall-popup .leaflet-popup-content-wrapper {
    background-color: #efbf0e !important; 
    color: rgb(50, 47, 47) !important;
}

.shoppingMall-popup .leaflet-popup-tip {
    background-color: #efbf0e !important;
}

.leaflet-popup-content .txnData {
    padding: 0;
    margin: 0;
}

.apexcharts-title-text {
    fill: rgb(103, 98, 98);
    text-decoration: underline;
  }

.apexcharts-tooltip {
    color: black;
  }

@media screen and (min-width: 767px) {
#search-container {
    position: absolute;
    display: flex;
    top: 10px;
    left: 50px;
    /* min-width: 300px; */
    max-width: 400px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 10px;
    left: 350px;
    right: 20px;
    top: 0px;
    z-index: 500;
}
}

@media screen and (max-width: 320px){
    #search-container {
        max-width: 210px;
    }
}
